<h2 class="species-title">Species</h2>

{{!-- displays flash messages since we redirect here from /process-plant --}}

{{> flash_messages}}

{{!-- <a href="/plant-add">Add a Plant</a> --}}

{{!-- <form method="POST" action="search">
  <input type="text" id="splist" name="q" placeholder="Search for names..">
</form> --}}


<form action="/search-species" method="GET" id="species-ahead">
  {{!-- <label>by Ingredients</label>
  <label>Ingredient 1</label> --}}
  <input list="search-sp" type="text" name="search_query">

  <datalist id="search-sp">
    {{#each speciesArray}}
    <option value="{{this.name}}"></option>
    {{/each}}
  </datalist>

  <button>Shortlist species!</button>

</form>


{{!-- <ul id="myUL">
  <li><a href="#">Adele</a></li>
  <li><a href="#">Agnes</a></li>

  <li><a href="#">Billy</a></li>
  <li><a href="#">Bob</a></li>

  <li><a href="#">Calvin</a></li>
  <li><a href="#">Christina</a></li>
  <li><a href="#">Cindy</a></li>
</ul> --}}

<ul>
  {{#each speciesArray}}
  <li class="species-li">
    <a href="/species/{{this._id}}" <h3>{{this.name}}</h3></a>
    <img src="{{this.speciesPicUrl}}" class="species-picture" />

    {{#if ../currentUser.userName}}
    <a href="wishlist/{{this._id}}/add">Add to wishlist</a>
    {{/if}}
    <p>{{this.level}}</p>
    <h4>{{this.speciesClassification.Family}}</h4>
  </li>
  {{/each}}
</ul>