<div class="detailsPage">
  <h2 class="species-title plantName">{{speciesItem.name}}</h2>

  <img src="{{speciesItem.speciesPicUrl}}" class="species-picture" />
  <p class="levelClass"><b>Scientific Name:</b> {{speciesItem.scientificName}}</p>
  <p><b>Common Names: </b>{{speciesItem.commonNames}}</p>
  <p><b>Place:</b> {{speciesItem.place}}</p>
  <p><b>Description:</b> {{speciesItem.description}}</p>
  <p><b>Scientific Classification: </b>{{#each speciesItem.scientificClassification}}</p>
  <ul class="myUl">
    <li><b>Family: </b>{{this.Family}}</li>
    <li><b>Subfamily: </b>{{this.Subfamily}}</li>
    <li><b>Tribe: </b>{{this.Tribe}}</li>
    <li><b>Genus:</b> {{this.Genus}}</li>
  </ul>
  {{/each}}
  <p><b>Watering Needs: </b>{{speciesItem.wateringNeeds}}</p>
  <p><b>Sunlight Needs:</b> {{speciesItem.sunlightNeeds}}</p>
  <p><b>Flower Color:</b> {{speciesItem.flowerColor}}</p>
  <p><b>Plant Grows Up:</b> {{#each speciesItem.plantGrowsUp}}</p>
  <ul class="myUl">
    <li><b>Tall:</b> {{this.tall}}</li>
    <li><b>Wide:</b> {{this.wide}}</li>
  </ul>
  {{/each}}
  <p><b>Cold: </b>{{speciesItem.cold}}</p>
  <p><b>Propagation: </b>{{speciesItem.propagation}}</p>
  <p><b>Toxicity:</b> {{speciesItem.toxicity}}</p>
  <p><b>Actively Grows: </b>{{speciesItem.activelyGrows}}</p>
  <p><b>Level: </b>{{speciesItem.level}}</p>



  {{!-- "name": "Bunny Ears Cactus",
"speciesPicUrl": "../images/plants/bunnyearscactus.jpg",
"scientificName": "Opuntia microdasys",
"commonNames": [
"Bunny Ears",
"Bunny Ears Cactus",
"Bunny Cactus",
"Polka Dot Cactus",
"Bunny-ears Prickly-pear",
"Angel’s Wings",
"Golden-Bristle",
"Golden-Bristle Cactus"
],
"place": ["indoor"], 
"description": "Originally from Mexico, the bunny ears cactus is named after its appearance. It has two pads that are
bunny ear shaped. They are covered with glochids or brown prickles and should be handled with care. The bunny ears
cactus grows to two or three feet, making it the perfect house plant. It produces white flowers and purple fruits in the
summer if exposed to enough light.",
"scientificClassification": {
"Family": "Cactaceae",
"Subfamily": "Opuntioidea",
"Tribe": "Opuntieae",
"Genus": "Opuntia"
},
"wateringNeeds": "every 3-4 weeks",
"sunlightNeeds": "partial sunlight",
"flowerColor": "white",
"plantGrowsUp": { "tall": "24″ (61 cm)", "wide": "5′ (1.5 m)" },
"cold": "Not cold hardy",
"propagation": "by cuttings",
"toxicity": "non-toxic to humans and animals",
"activelyGrows": "Spring and Fall",
"level": "easy",
"grade": "1"--}}

</div>