<h2 class="profile-title">My profile</h2>

{{#if currentUser}}
<h3>Hi {{currentUser.userName}}!</h3>

{{!-- <b>{{currentUser.email}}</b> --}}
<img src="{{currentUser.profilePicUrl}}" class="profile-picture" />

<a href="/user-edit">Update my Profile</a>

{{/if}}


<h3>My Plants</h3>

{{!-- displays flash messages since we redirect here from /process-plant --}}

{{> flash_messages}}

<a href="/plant-add">Add a Plant</a>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {{#each plantIndices}}
    {{{this}}}
    {{/each}}
  </ol>

  <div class="carousel-inner">
    {{#each plantArray}}
    <div class="carousel-item active">
      <img class="d-block w-100" src="{{this.plantPicUrl}}" alt="{{this.name}}">
    </div>
    {{/each}}
  </div>
  // @index
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>





<h3>My Wishlist</h3>

<ul>
  {{#each speciesArray}}
  <li>
    <h3>{{this.scientificName}}</h3>
    <p>{{this.level}}</p>
    <h4>{{this.speciesClassification.Family}}</h4>
    <img src="{{this.speciesPicUrl}}" class="species-picture" />

  </li>
  {{/each}}
</ul>