<h2 class="profile-title">My profile</h2>

{{#if currentUser}}
<h3 class="profile-name">Hi {{currentUser.userName}}!</h3>

{{!-- <b>{{currentUser.email}}</b> --}}
<img src="{{currentUser.profilePicUrl}}" class="profile-picture" />

<a href="/user-edit" class="user-edit-link">Update my Profile</a>

<span id="scroll1">
  <span></span>
</span>

<span id="scroll2">
  <span></span>
</span>

{{/if}}


<h3 class="my-plants-name">My Plants</h3>

{{!-- displays flash messages since we redirect here from /process-plant --}}

{{> flash_messages}}

<a href="/plant-add" class="add-a-plant">Add a Plant</a>

<ul class="plant-array">
  {{#each plantArray}}
  <li>
    <h3 class="plant-name">{{this.plantName}}</h3>
    <a href="plant/{{this._id}}/edit">Update this Plant</a>
    <a href="plant/{{this._id}}/delete">Delete this Plant</a>
    <p>{{this.plantDescription}}</p>
    <h4>{{this.plantSpecies}}</h4>
    <img src="{{this.plantPicUrl}}" class="species-picture" />
  </li>
  {{/each}}
</ul>

<h3 class="my-plants-name">My Wishlist</h3>
<a href="/wishlist" class="add-to-wishlist">Add to Wishlist</a>

<ul>
  {{#each speciesArray}}
  <li>
    <h3>{{this.scientificName}}</h3>
    <p>{{this.level}}</p>
    <h4>{{this.speciesClassification.Family}}</h4>
    <img src="{{this.speciesPicUrl}}" class="species-picture" />

  </li>
  {{/each}}


  <a href="/species" class="allspecimens">See All Plants</a>
</ul>