<h2 class="add-plant-title">My Plants</h2>

{{!-- displays flash messages since we redirect here from /process-plant --}}

{{> flash_messages}}

<a href="/plant-add" class="all-my-plants">Add a Plant</a>

<ul>
  {{#each plantArray}}
  <li>
    <h3>{{this.plantName}}</h3>
    <a href="plant/{{this._id}}/edit">Update this Plant</a>
    <a href="plant/{{this._id}}/delete">Delete this Plant</a>
    <p>{{this.plantDescription}}</p>
    <h4>{{this.plantSpecies}}</h4>
    <img src="{{this.plantPicUrl}}" class="species-picture" />
  </li>
  {{/each}}
</ul>