<h2>Edit a Plant</h2>

<form action="/my-plants/{{plantItem._id}}/process-edit/" method="POST" enctype="multipart/form-data">
  <label>
    Title:
    <input type="text" name="title" value="{{plantItem.title}}" placeholder="Frankenstein" required />
  </label>

  <label>
    Author:
    <input type="text" name="author" value="{{plantItem.author}}" placeholder="Mary Shelley" required />
  </label>

  <label>
    Description (8 characters or more):
    <input type="text" name="description" value="{{plantItem.description}}" placeholder="Blah blah blah ..." minlength="8"
      required />
  </label>

  <label>
    Rating (0-10, optional):
    <input type="number" name="rating" value="{{plantItem.rating}}" placeholder="8" min="0" max="10" />
  </label>

  <button>Save Changes</button>
</form>