<h2 class="add-plant-title">My Plants</h2>

{{!-- displays flash messages since we redirect here from /process-plant --}}

{{> flash_messages}}

<a href="/plant-add" class="all-my-plants">Add a Plant</a>

<ul>
  {{#each plantArray}}
  <li class="detailsPage">
    <h1 class="plantName">{{this.plantName}}</h1>
    <div class="btn-cotes row">
      <div class="col-6"><a href="plant/{{this._id}}/edit"><button class="btn btn-success">Update</button></a></div>
      <div class="col-6"><a href="plant/{{this._id}}/delete"><button class="btn btn-danger">Delete</button></a></div>
    </div>
    <hr>
    <p>{{this.plantDescription}}</p>
    <p><b>Species:</b> {{this.plantSpecies}}</p>
    <img src="{{this.plantPicUrl}}" class="species-picture" />
  </li>
  {{/each}}
</ul>